---
import Layout from "@/layouts/main.astro";
import { Mail, MessageCircle, BriefcaseBusiness, Computer } from "lucide-react";
---

<Layout title="Contato" }>
    <div class="divide-y divide-gray-200 dark:divide-gray-700">
        <h1 class="pb-4 mb-6">Contato</h1>

        <ul class="flex flex-col gap-4">
            <li>
                <a href="mailto:eu@lfm.dev.br">
                    <span
                        class="flex items-center gap-2 hover:text-red-500 dark:hover:text-red-400 transition-colors duration-300"
                    >
                        <Mail />
                        <span class="text-xl"> Email </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://wa.me/5554996925138">
                    <span
                        class="flex items-center gap-2 hover:text-green-500 dark:hover:text-green-400 transition-colors duration-300"
                    >
                        <MessageCircle />
                        <span class="text-xl"> Whatsapp </span>
                    </span>
                </a>
            </li>
            <!-- <li>
                <a href="https://t.me/comercimento">
                    <span
                        class="flex items-center gap-2 hover:text-sky-500 dark:hover:text-sky-400 transition-colors duration-300"
                    >
                        <Send />
                        <span class="text-xl"> Telegram </span>
                    </span>
                </a>
            </li> -->
            <li>
                <a href="https://www.linkedin.com/in/fmleonardo/">
                    <span
                        class="flex items-center gap-2 hover:text-blue-700 dark:hover:text-blue-500 transition-colors duration-300"
                    >
                        <BriefcaseBusiness />
                        <span class="text-xl"> Linkedin </span>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://github.com/fmleo">
                    <span
                        class="flex items-center gap-2 hover:text-emerald-500 dark:hover:text-emerald-400 transition-colors duration-300"
                    >
                        <Computer />
                        <span class="text-xl"> Github </span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</Layout>
