---
import Layout from "@/layouts/main.astro";
---

<script>
    import confetti from "canvas-confetti";
    confetti({
        particleCount: 200,
    });
</script>

<Layout>
    <div class="flex flex-col items-center justify-center gap-4">
        <h1>Obrigado por entrar em contato!</h1>
        <h3>Retornarei seu contato em breve.</h3>
    </div>
</Layout>
