---
import Layout from "@/layouts/main.astro";

import IconList from "@/components/IconList.astro";
---

<Layout title="Início">
    <div class="flex flex-col lg:flex-row gap-8">
        <div class="flex flex-col justify-between gap-8">
            <h1>Leonardo Michelon</h1>
            <h4>
                <slot name="title" />
            </h4>
            <p class="text-lg">
                <slot name="description" />
            </p>
            <div class="mr-4">
                <IconList />
            </div>
        </div>
        <div class="flex flex-col justify-around">
            <slot name="image" />
        </div>
    </div>
</Layout>
